:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FF6B2C;
  text-decoration: inherit;
}
a:hover {
  color: #FF6B2C;
  opacity: 0.8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #FF6B2C);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #FF6B2C);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF6B2C;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #FF6B2C;
  opacity: 0.9;
}
button:focus,
button:focus-visible {
  outline: 4px auto #FF6B2C;
}
